@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

.dark {
  --background: #0a0a0a;
  --foreground: #ededed;
}

/* html,
body {
  cursor: none;
} */

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;

  /* FIXED THE WHITE GAP */
  margin: 0;
  padding: 0;
}

/* Custom purple scrollbar */
.scrollbar-thin::-webkit-scrollbar {
  height: 8px;
}

.scrollbar-thin::-webkit-scrollbar-track {
  background: rgba(122, 63, 173, 0.2);
  border-radius: 10px;
}

.scrollbar-thin::-webkit-scrollbar-thumb {
  background: linear-gradient(90deg, #a855f7, #ec4899);
  border-radius: 10px;
}

.scrollbar-thin::-webkit-scrollbar-thumb:hover {
  background: linear-gradient(90deg, #9333ea, #db2777);
}
